@font-face {
  font-family: 'ChivoRegular';
  src: url('assets/fonts/Chivo-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'ChivoLight';
  src: url('assets/fonts/Chivo-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('assets/fonts/HelveticaNeue.ttf')  format('truetype')
}

* {
    margin: 0;
    padding: 0;
}
@media screen and (max-width:767px) {
    .main {
        padding: 0 15px;
        background: #F5F5F5;
    }
    
    .product-item-container {
        min-width: 290px;
        width: 100%;
        background: white;
        border-radius: 5px;
        overflow: hidden;
    }

    .product-image {
        min-width: 290px;
        width: 100%;
    }

    .product-item-info { 
        width: inherit;
        margin: 0 25px;
    }

    .product-row-1 {
        margin: 20px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-title {
        font-family: "ChivoRegular", sans-serif;
        font-size: 21px;
    }

    .product-price {
        font-family: "ChivoLight", sans-serif;
        font-size: 16px;
    }

    .product-inventory {
        font-family: "HelveticaNeue";
        font-size: 12px;
        color: #9B9B9B;
    }

    .product-button {
        margin: 20px 25px 25px 25px;
        border: 0;
        border-radius: 20px;
        background: #5E97D1;
        color: white;
        font-size: 13px;
        white-space: nowrap;
        text-decoration: none;
        padding: 8px 20px;
        cursor: pointer;
        font-family: "ChivoLight", sans-serif;
    }

    .product-button:focus {
        outline: none;
    }

} 