@font-face {
  font-family: 'ChivoRegular';
  src: url('assets/fonts/Chivo-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'ChivoLight';
  src: url('assets/fonts/Chivo-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('assets/fonts/HelveticaNeue.ttf')  format('truetype')
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
}

.header {
    font-family: "ChivoRegular", sans-serif;
}

.hr {
    border-top: 1px solid #D8D8D8;
    margin-bottom: 20px;
}

.product-item-container {
    border-radius: 5px;
    width: 100%;
    background: white;
    overflow: hidden;
}

.product-item-info { 
    width: inherit;
}

.product-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.product-title {
    font-family: "ChivoRegular", sans-serif;
}

.product-price {
    font-family: "ChivoLight", sans-serif;
}

.product-inventory {
    font-family: "HelveticaNeue";
    font-size: 12px;
    color: #9B9B9B;
}

.product-button {
    border: 0;
    border-radius: 20px;
    background: #5E97D1;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    font-family: "ChivoLight", sans-serif;
    padding: 8px 20px;
}

.product-button:focus {
    outline: none;
}

@media screen and (max-width:767px) {
    body {
        padding: 0 15px;
    }

    .main {
        margin-bottom: 60px;
    }
    
    .product-item-container {
        min-width: 290px; 
    }

    .product-image {
        min-width: 290px;
        width: 100%;
    }

    .product-item-info { 
        margin: 0 25px;
    }

    .product-row-1 {
        margin: 20px 0 10px 0;
    }

    .product-title {
        font-size: 21px;
    }

    .product-price {
        font-size: 16px;
    }

    .product-button {
        margin: 20px 25px 25px 25px;
        font-size: 13px;
    }
} 

@media screen and (min-width:768px) and (max-width: 1279px) {
    body {
        padding: 0 50px;
    }

    .header {
        font-size: 38px;
        margin: 50px 0 30px 0;
        line-height: 100%;
    }
    
    .product-item-container {
        display: flex;
    }

    .product-image {
        width: 268px;
        height: 196px;
        object-fit: cover;
    }

    .product-row-1 {
        margin-bottom: 10px;        
    }

    .product-column-1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 35px;
    }

    .product-title {
        font-size: 28px;
    }

    .product-price {
        font-size: 21px;
    }

    .product-button {
        font-size: 14px;
        max-width: 140px;
    }
} 

@media screen and (min-width:1280px) {
    .main {
        width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        font-size: 51px;
        margin: 50px 0 30px 0;
        line-height: 100%;
    }

    .product-item-container {
        display: flex;
    }

    .product-image {
        width: 455px;
        height: 282px;
        object-fit: cover;
    }

    .product-row-1 {
        margin-bottom: 10px;
    }

    .product-column-1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 40px 50px;
    }

    .product-title {
        font-size: 38px;
    }

    .product-price {
        font-size: 21px;
    }

    .product-button {
        font-size: 14px;
        max-width: 140px;
    }
} 